body {
	text-shadow: 4px 1px #777;
}

#first{
	background: url(img/background-library.webp);
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.2;
}

#top {
	padding: 20px;
}

#bottom {
	padding-left: 40px;
}

/*div #results {*/
/*	text-align: left !important;*/
/*	padding: 5px 30px !important;*/
/*	color: green;*/
/*}*/

