body {
	text-shadow: 4px 2px #eedba9;
}

#first{
	background: url(img/background-library3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#top {
	padding: 20px;
}

#bottom {
	padding-left: 40px;
}
